.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  padding: 60px 80px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__social-heading {
  font-size: 16px;
  margin: 0 0 20px;
}

.footer__list-item {
  margin: 0;
}

.footer__social-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-out;
  display: flex;
  align-items: center;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__copyright {
  margin: 108px 0 0;
}
